<h1>Cocktail Index</h1>

<ul>
<% @cocktails.each do |c| %>
  <li> <%= link_to c.name, cocktail_path(c) %></li>
  <%= cl_image_tag c.photo, width: 150, height: 150, crop: :thumb %>
<% end %>
</ul>


<%= link_to "Add new cocktail", new_cocktail_path %>
